<div id="albums-content">
  <div class="row">
    <div class="large-12 columns">
      <div class="center-image">
        <ul>
          <li><a href="#albums">listen below, or</a></li>
          <li><a href="http://philhart.bandcamp.com/" target="_blank">Download from bandcamp.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="albums">
    <div class="row">
      <div class="large-5 columns">
        <iframe style="border: 0; width: 350px; height: 791px;" src="http://bandcamp.com/EmbeddedPlayer/album=987155316/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://philhart.bandcamp.com/album/sing-me-home">Sing Me Home by Phil Hart</a></iframe>
      </div>

      <div class="large-offset-2 large-5 columns">
        <iframe style="border: 0; width: 350px; height: 692px;" src="http://bandcamp.com/EmbeddedPlayer/album=3132328764/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://philhart.bandcamp.com/album/rainbow-gardens">Rainbow Gardens by Phil Hart</a></iframe>
      </div>
    </div>
  </div>
</div>
