<div id="albums-content">
  <div class="row">
    <div class="large-12 columns">
      <div class="center-image">
        <ul>
          <li><a href="#albums">Listen below,</a></li>
          <li><a href="http://philhart.bandcamp.com/" target="_blank"><b>Download</b> from bandcamp.com,</a></li>
          <li>{{#linkTo "info"}}Or <b>contact me</b> to order a CD{{/linkTo}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="albums">
    <div class="row">
      <div class="album large-6 small-12 columns">
        <iframe class="album-iframe" src="http://bandcamp.com/EmbeddedPlayer/album=987155316/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://philhart.bandcamp.com/album/sing-me-home">Sing Me Home by Phil Hart</a></iframe>
      </div>

      <div class="album large-6 small-12 columns">
        <iframe class="album-iframe" src="http://bandcamp.com/EmbeddedPlayer/album=3132328764/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://philhart.bandcamp.com/album/rainbow-gardens">Rainbow Gardens by Phil Hart</a></iframe>
      </div>
    </div>
  </div>
</div>
