<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <h4>Songs</h4>
      <ul>
        {{#each}}
          {{#linkTo "song" this titleBinding=name}}
            <li>{{display_name}}<i class="icon-caret-right right"></i></li>
          {{/linkTo}}
        {{/each}}
      </ul>
    </div>
  </div>
  {{!-- outlet for child song show view --}}
  {{ outlet }}
</div>
