<!-- this is the the layout rendered automatically when ember app .create() is called -->
<div class="row">
  <div class="large-10 small-12 columns">
    <ul class="button-group">
      <li>{{#linkTo "home" class="small button secondary"}}Home{{/linkTo}}</li>
      <li>{{#linkTo "bio" class="small button secondary"}}About Phil{{/linkTo}}</li>
      <li>{{#linkTo "songs.index" class="small button secondary"}}Lyrics and Chords{{/linkTo}}</li>
      <li>{{#linkTo "home" class="small button secondary"}}Listen to some songs{{/linkTo}}</li>
      <li>{{#linkTo "home" class="small button secondary"}}Buy some songs{{/linkTo}}</li>
      <li>{{#linkTo "home" class="small button secondary"}}Contact Phil{{/linkTo}}</li>
    </ul>
  </div>
</div>

{{ outlet }}
