<!-- this is the the layout rendered automatically when ember app .create() is called -->
<div class="row">
  <div class="large-12 columns main-background">
    <header id="header">
      <div class="row">
        <div class="large-12 columns">
            {{#linkTo "home" class="menu-item"}}Home{{/linkTo}}
            {{#linkTo "albums" class="menu-item"}}Music{{/linkTo}}
            {{#linkTo "lyrics_only" class="menu-item"}}Lyrics{{/linkTo}}
            {{#linkTo "info" class="menu-item"}}Contact{{/linkTo}}
        </div>
      </div>
    </header>
    <section id="main-content">
      <div class="floating-name">Phil Hart</div>
      {{ outlet }}
    </section>
  </div>
</div>
