<!-- this is the the layout rendered automatically when ember app .create() is called -->
<div class="row">
  <div class="large-10 small-12 columns">
    <ul class="button-group">
      <li>{{#linkTo "home" class="small button"}}Home{{/linkTo}}</li>
      <li>{{#linkTo "bio" class="small button"}}About Phil{{/linkTo}}</li>
      <li>{{#linkTo "songs" class="small button"}}Lyrics and Chords{{/linkTo}}</li>
      <li>{{#linkTo "home" class="small button"}}Listen to some songs{{/linkTo}}</li>
      <li>{{#linkTo "home" class="small button"}}Buy some songs{{/linkTo}}</li>
      <li>{{#linkTo "home" class="small button"}}Contact Phil{{/linkTo}}</li>
    </ul>
  </div>
</div>

{{ outlet }}
