<div class="row">
  <div class="large-10 small-12 columns">
    Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  Bio text here.  
  </div>
</div>
