<div class="row">
  <div class="large-5 small-5 columns">
    <img id="welcome-pic" src="<%= image_path('phil1_300.jpg') %>">
  </div>
  <div class="large-5 small-5 columns">
    <p><%= "about phil info text here<br>more great stuff about him<br><br>wow, it just keeps going.".html_safe %> </p>
  </div>
</div>
