<div class="row">
  <div class="large-12 small-12 columns">
    <div id="home-content">
      <h1>Phil Hart</h1>
      <h2>Singer, Songwriter</h2>
      <ul>
        <li>
          {{#linkTo "all_songs.index"}}music{{/linkTo}}
          <ul>
            <li>album 1 name</li>
            <li>album 2 name</li>
          </ul>
        </li>
        <li>bandcamp</li>
        <li>hobbit homes</li>
        <li>judo championships</li>
        <li>contact</li>
      </ul>
    </div>
  </div>
</div>
