<div class="row">
  <div class="12-large 12-small columns">
    <form action="post">
      <fieldset>
        <legend>Contact</legend>
        <div class="row">
          <div class="8-large columns">
            <input type="text" placeholder="your email">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
