<div class="row" id="lyrics-only-content">
  <div class="large-offset-1 large-11 columns">
    <ul>
      {{#each}}
      <li>
        <h2>{{name}}</h2>
        <p>{{{formatted_lyrics}}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
