<div class="row">
  <div class="large-12 columns">
    <div class="center-image panel">
      <div class="image">
        <ul>
          <li>{{#linkTo "all_songs.index"}}all songs{{/linkTo}}</li>
          <li>{{#linkTo "albums.index"}}by album{{/linkTo}}</li>
          <li><a href="http://philhart.bandcamp.com/" target="_blank">bandcamp</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{ outlet }}
