<div class="row" id="music-content">
  <div class="large-12 columns">
    <div class="center-image">
      <ul>
        <li>{{#linkTo "all_songs.index"}}listen below, or{{/linkTo}}</li>
        <li><a href="http://philhart.bandcamp.com/" target="_blank">Download from bandcamp.com</a></li>
      </ul>
    </div>
  </div>
</div>
{{ outlet }}
