<div class="row">
  <div class="large-12 columns">
    <div class="center-image panel">
      <div class="image">
        <ul>
          <li>{{#linkTo "songs.index"}}songs{{/linkTo}}</li>
          <li>albums</li>
          <li><a href="http://philhart.bandcamp.com/" target="_blank">bandcamp</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <h4>Songs</h4>
      <ul>
        {{#each}}
          {{#linkTo "song" this}}
            <li>{{name}}<i class="icon-caret-right right"></i></li>
          {{/linkTo}}
        {{/each}}
      </ul>
    </div>
  </div>
  
  <div class="large-8 columns">
    {{!-- outlet for child song show view --}}
    {{ outlet }}  
  </div>
</div>
