// foundation defaults changes

/* Colors */
$primary-color: #808080;
// $topbar-bg: #eee;
// $topbar-link-color: #444;
// $topbar-link-color-hover: #111;
// $topbar-link-color-active: #111;
$topbar-height: 55px;
$topbar-title-font-size: emCalc(23);

$topbar-link-font-size: emCalc(13);
$topbar-menu-link-font-size: emCalc(33);


$secondary-color: #fefefe;

// $button-font-color: #444;

@import "foundation";
@import "font-awesome";

// handlebars css

body {
  background-color: #f8f8f8;
}
ul {
  list-style-type: none;
}

.pre {
    white-space:pre; /* or pre-wrap if you want wrapping to still work. */
}

// foundation overrides
//...

// custom css
.main-background {
  background-color: white;
}

header {
  padding-top: 40px;
  padding-bottom: 50px;
  .menu-item {
    padding: 10px 20px 10px 20px;
    &:hover {
      background-color: #ddd;
    }
    &.active {
      background-color: #ddd;
    }
  }
}

.floating-name {
  position: absolute;
  z-index: 5;
  left: 40px;
  color: $primary-color;
  font-family: 'Copperplate';
  letter-spacing: 10px;
  font-size: 4em;
}

#albums-content {
  .center-image {
    background: image-url("gig1_960.jpg") no-repeat 0 0;
    height:422px;
    padding-top: 65px;
    padding-left: 30px;
  }
}

#albums {
  .row {
    padding-top: 50px;
  }
}
  
#home-content {
  #home-img {
    background-image: image-url('phil1_470.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    height: 1166px;
  }
}

#contact-content {
  padding-top: 50px;
  textarea {
    height: 100px;
    overflow: hidden;
  }

  // these styles are to hide decoy fields
  #email {
    display: none;
  }

  #email-field {
    position: absolute;
    left: 3000;
    top: 3000;
  }
}

#lyrics-only-content {
  padding-top: 40px;
  li {
    margin-top: 70px;
  }
}
