// foundation defaults changes

/* Colors */
$primary-color: #808080;
$secondary-color: #fefefe;

@import "foundation";
@import "font-awesome";

$medium-up: $small; // zurb has weird naming
$small-only: "only screen and (max-width: #{$small-screen})";

// handlebars css

.alert-box {
  position: absolute;
  top: 0;
  width: 100%;
}

.hidden {
  display: none;
}

// .opaque {
//   opacity: 100;
//   transition: opacity 0.2s;
//   &.faded-out {
//     opacity: 0;
//   }
// }

body {
  background-color: #f8f8f8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
ul {
  list-style-type: none;
}

.pre {
    white-space:pre; /* or pre-wrap if you want wrapping to still work. */
}

// foundation overrides
.error input {
  margin-bottom: 1em;
}

// custom css
.main-background {
  background-color: white;
}

header {
  padding-top: 40px;
  padding-bottom: 50px;
  .menu-item {
    padding: 10px 20px 10px 20px;
    &:hover {
      background-color: #ddd;
    }
    &.active {
      background-color: #ddd;
    }
  }
}

@media #{$small-only} {
  header .menu-item {
    display: block;
  }
}

footer {
  height: 30px;
}

.floating-name {
  color: $primary-color;
  font-family: 'Copperplate';
  letter-spacing: 10px;
  font-size: 4em;
  z-index: 5;
  position: relative;
}

#albums-content {
  .center-image {
    background: image-url("gig1_960.jpg") no-repeat 0 0;
    height:422px;
    padding-top: 15px;
    padding-left: 30px;
  }
}

#albums {
  .row {
    padding-top: 50px;
  }

  .album {
    margin-bottom: 20px;
  }

  .album-iframe {
    border: 0;
    width: 100%;
    min-height: 750px;
    max-width: 400px;
  }
}

#home-content {
  #home-img {
    background-image: image-url('phil1_470.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    height: 600px;
  }
}

@media #{$medium-up} {
  #home-content {
    margin-top: -50px;
  }
}

#contact-content {
  textarea {
    height: 100px;
    overflow: hidden;
  }

  // these styles are to hide decoy fields
  #email {
    display: none;
  }

  #email-field {
    position: absolute;
    left: 3000;
    top: 3000;
  }

  #email-sending-loader {
    margin-top: 14px;
  }
}

#lyrics-only-content {
  li {
    margin-top: 70px;
  }
}
