!!!
%html
  %head
    %title Pahart
    %meta( name="description" content="The website of musician Phil A. Hart" )
    %meta( name="google-site-verification" content="4wVbnSAJUsLuhklCh2V6U89J20rd-F-Z5NdhquvC_gI" )
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )
  %body
    = yield
